<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/homePage.html :: headerfiles(title='Modifica Film')"> </head>
<body>
	<header th:replace="fragments/homePage.html :: navMenu"></header>

<section class="movie-background informations-section ">

		<div th:if="${movie.img == 'profili'}" class="img-profile-informations">
			<img src="/images/movie1.jpg" alt="">
		</div>
		<div th:unless ="${movie.img == 'profili'}" class="img-profile-informations">
			<img th:src="'/images/movie/profili/' + ${movie.img}" alt="Profile Movie">
		</div>

	</section>

   <section class="generic_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>Aggiorna il Film intitolato "<strong th:text="${movie.title}"></strong>" dell'Anno <strong th:text="${movie.year}"></strong></h2>
			</div>
			
		

		<div th:if="${movie.director}">
			<h3>Regista: </h3><h3 th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Steven
				Spielberg</h3>
			<a class="btn btn-success" th:href="@{'/admin/addDirector/' + ${movie.id}}">Modifica regista</a></span>
		</div>
		<div th:unless="${movie.director}">
			<a  class="btn btn-success" th:href="@{'/admin/addDirector/' + ${movie.id}}">Aggiungi regista</a>
		</div>
       
	   <h3>Elenco Attori del Film</h3><br>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Cognome</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each= "actor: ${movie.actors}" >
							<th scope="row" th:text="${actor.id}">1</th>
							<th th:text="${actor.name}">Nome</th>
							<th th:text="${actor.surname}">Cognome</th>
							<th></th>
							<th></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<a class="btn btn-success" th:href="@{'/admin/updateActors/' + ${movie.id}}">Modifica</a>
			</div>
			<br>
			<br><br>
			<h3>Elenco Reviews del Film</h3><br>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Titolo</th>
							<th scope="col">Testo</th>
							<th scope="col">Valutazione</th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="review : ${movie.reviews}">
							<th scope="row" th:text="${review.id}">1</th>
							<th th:text="${review.title}">Titolo</th>
							<th th:text="${review.text}">Descrizione</th>
							<th th:text="${review.valutazione}">2</th>
							<th></th>
							<th>
								<div> <a class="btn btn-success" th:href="@{'/admin/review/delete/'+${movie.id}+'/'+${review.id}}" >Delete</a></div>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
		
	
	
		<div th:unless="${movie}">Film non esistente</div>
		<div th:replace="fragments/homePage.html :: backButton(back='/admin/indexMovie', 
																 text1='Dashboard',
																 back2='/admin/manageMovies',
																 text2='Elenco Movies')"></div>
				</div>
					

	</section>
		<footer th:replace="fragments/homePage.html :: fondo"></footer>
</body>

</html> 