
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/homePage.html :: headerfiles(title='Aggiungi Artist')"> </head>
<body>
	<header th:replace="fragments/homePage.html :: navMenu"></header>

	<section class="generic_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>Aggiungi Nuovo Artista</h2>
			</div>


			<div class="form_container">
				<form th:action="@{/admin/artist}" method="post" th:object="${artist}"  enctype="multipart/form-data" >
					<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
						<h4 align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</h4>
					</div>
					<div><input type="text" class="form-control" placeholder="Nome" th:field="*{name}"></div>
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert"></div>

					<div><input type="text" class="form-control" placeholder="Cognome" th:field="*{surname}"></div>
					<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert alert-danger" role="alert"></div>

					<div><input type="date" class="form-control" placeholder="Data di Nascita" th:field="*{dateOfBirth}" required></div>
					<div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="alert alert-danger" role="alert"></div>

					<div><input type="file" class="form-control-file" name="file"></div>
					
					<div class="btn_box"><button type="submit">Aggiungi</button></div>
				</form>
			</div>

			<div th:replace="fragments/homePage.html :: backButton(back='/admin/indexArtist', 
																 text1='Dashboard',
																 back2='/artist',
																 text2='Elenco Artists')"></div>
		</div> <!-- end container -->
	</section>

	<footer th:replace="fragments/homePage.html :: fondo"></footer>
	<div th:replace="fragments/homePage.html :: jsFiles"></div>
</body>
</html>